body {
    font-family: Arial, serif;
    background: lightblue url("/static/images/boardwalk.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
a, button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
    padding: 12px;
    text-align: center;
    width: -moz-available
}
a:hover, button:hover {
    opacity: 0.8;
}
.center{
    text-align: center;
    width: 1100px;
    margin: 0 auto;
}
img, .img-container  {
    width: 600px;
}
.img-container {
    display:inline-block;
}
.form-container {
    max-width: 400px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-left: 25px;
    padding-top: 40px;
}
.text-container {
    line-height: 2px;
    padding-bottom: 30px;
    padding-top: 10px;
}