body {
    background: url("/static/images/beach-sunset.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    font-family: Arial, serif;
    font-size: 30px;
    color: white;
    width: max-content;
    padding-left: 10px;
    text-shadow: 3px 3px #7b757c;
}
a, button {
    font-family: Arial, serif;
    font-size: 16px;
    padding: 10px;
    background-color: rgba(0, 160, 0, 1);
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    display: inline-block;
}
a:hover, button:hover {
    opacity: .8;
}
.ui {
    width: 80%;
    margin: 0 auto;
}
.top-bar div {
    display: inline-block;
}
.searchbar {
    font-family: Arial, serif;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 160, 0, 1);
    padding: 9px;
    vertical-align: top;
}
table {
    margin: 0 auto;
    text-align: left;
    font-family: Arial, serif;
    border-collapse: collapse;
    table-layout: fixed;
    position: relative;
    top: 5px;
    width: 100%;
}
.blurry {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.wide {
    width: 10%;
}
.narrow {
    width: 7%;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .80);
}
tr:nth-child(odd) {
    background-color: rgba(220, 220, 220, .80);
}
th {
  padding-top: 8px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgba(0, 160, 0, 1);
  color: white;
}