body {
    background: url("/static/images/beach-sunset.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    font-family: Arial, serif;
    font-size: 30px;
    color: white;
    width: max-content;
    padding-left: 10px;
    text-shadow: 3px 3px #505852;
}
a, button {
    font-family: Arial, serif;
    font-size: 16px;
    padding: 10px;
    background-color: rgba(0, 160, 0, 1);
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    display: inline-block;
}
a:hover, button:hover {
    opacity: .8;
}
button:disabled {
    opacity: .5;
}
.ui {
    width: 90%;
    margin: 0 auto;
}
.top-bar div {
    display: inline-block;
}
.searchbar {
    font-family: Arial, serif;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 160, 0, 1);
    padding: 9px;
    vertical-align: top;
}
table {
    margin: 0 auto;
    text-align: left;
    font-family: Arial, serif;
    border-collapse: collapse;
    table-layout: fixed;
    position: relative;
    top: 5px;
    width: 100%;
}
.blurry {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.blurry:hover {
    color: inherit;
    text-shadow: none;
}

.wide {
    width: 10%;
}
.narrow {
    width: 7%;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.unselected {
    background-color: rgba(255, 255, 255, .80);
}
th {
    padding-top: 8px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(0, 160, 0, 1);
    color: white;
}
.selected {
    background-color: rgba(0, 160, 0, 1);
    color: white;
}
.hide {
    display: none;
}
#editor_and_passgen {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 60%;
    background-color: rgba(40, 40, 40, .8);
    border: rgb(0, 160, 0);
    border-width: 5px;
    border-style: outset;
}
#password-generator {
    width: 55%;
    position: absolute;
    top: 10%;
    right: 0;
    color: white;
    padding-top: 3%;
}
#password-generator label {
    background-color: rgba(0, 0, 0, 0);
}
#password-generator button{
    background: rgb(0, 160, 0);
}
#password-generator #output {
    width: 70%;
}
.not_clickable {
    pointer-events: none;
}
#editor_and_passgen .buttons {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}
#editor_and_passgen button {
    display: inline-block;
    font-size: 18px;
}
#editor_and_passgen label{
    color: white;
    font-size: 18px;
    font-family: Arial, serif;
}
#editor_and_passgen form {
    width: 40%;
    height: 80%;
    padding-top: 5%;
    text-align: right;
}
#editor_and_passgen input {
    width: 70%;
}
#editor_and_passgen form .field {
    padding-top: 5%;
}
#editor_and_passgen .show {
    display: inline-block;
    padding: 1px 1px 1px 1px;
    font-family: Arial, serif;
    cursor: pointer;
    border: none;
    position: absolute;
    margin-left: 3px;
}