.wrapper header {
    font-size: 20px;
    text-align: center;
}
.wrapper .settings button {
    background: #ededed;
    border: 1px solid #ccc;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-family: Arial, serif;
}
.active {
    background: #858585;
    -webkit-box-shadow: inset 0px 0px 40px #9a9a9a;
    -moz-box-shadow: inset 0px 0px 40px #9a9a9a;
    box-shadow: inset 0px 0px 40px #9a9a9a;
}
.wrapper .show-random {
    display: inline-block;
    padding: 1px 1px 1px 1px;
    font-family: Arial, serif;
    cursor: pointer;
    border: none;
    position: relative;
    bottom: 1px;
}
.wrapper {
    background: #040e9e;
    border-radius: 10px;
    font-family: Arial, serif;
    font-size: 12px;
    color: white;
    padding: 5px 0 .1px 0;
}