header {
    font-size: 25px;
}
button {
    background: #ededed;
    border: 1px solid #ccc;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
.active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 40px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 40px #c1c1c1;
    box-shadow: inset 0px 0px 40px #c1c1c1;
    outline: none;
}
.wrapper {
    font-family: Arial, serif;
    font-size: 12px;
    text-align: center;
}