body {
    font-family: Arial, serif;
    background: lightblue url("/static/images/boardwalk.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-container {
    margin: 0 auto;
    width: 570px;
}
.form-container {
    font-size: 20px;
    padding-top: 20px;
    width: 480px;
    text-align: right;
    display: inline-block;
}
.random {
    padding-top: 15px;
    margin: 0 auto;
    width: 490px;
}
.form-container input {
    width: 300px;
}
.form-container div {
    padding-top: 5px;
}
input:invalid {
    box-shadow: none;
}
.show-button {
    display: inline-block;
}