body {
    font-family: Arial, serif;
    text-align: center;
    background: url("/static/images/boardwalk.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
a, button {
    background-color: rgba(0,160,0,1);
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    padding: 12px 0 12px 0;
    text-align: center;
    width: -webkit-fill-available;
    width: 100%;
    font-size: 18px;
    font-family: Arial, serif;
}
a:hover, button:hover {
    opacity: 0.8;
}
.form-container {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 35%;
    display: inline-block;
    text-align: left;
}
.text-container {
    padding-top: 10px;
    text-align: center;
    line-height: 0;
}
.error {
    font-family: Arial, serif;
    font-size: 18px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    top: -10%;
    width: max-content;

}
.github {
    position: absolute;
    text-decoration: none;
    left: 1%;
    top: 1%;
    width: 120px;
    padding: 10px 10px;
    font-size: 16px;
}
.website {
    position: absolute;
    text-decoration: none;
    right: 1%;
    top: 1%;
    width: 120px;
    padding: 10px 10px;
    font-size: 16px;
}