.wrapper header {
    font-size: 20px;
    text-align: center;
}
.wrapper .settings button {
    background: #ededed;
    border: 1px solid #ccc;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-family: Arial, serif;
}
.active {
    background: #6c6c6c;
    -webkit-box-shadow: inset 0px 0px 40px #9a9a9a;
    -moz-box-shadow: inset 0px 0px 40px #9a9a9a;
    box-shadow: inset 0px 0px 40px #2a2a2a;
}
.wrapper .show-random {
    display: inline-block;
    padding: 1px 1px 1px 1px;
    font-family: Arial, serif;
    cursor: pointer;
    border: none;
    position: relative;
}
.wrapper {
    font-family: Arial, serif;
    font-size: 12px;
    padding: 5px 3px .1px 3px;
    text-align: center;
}
.wrapper label {
    background-color: rgba(255, 255, 255, .8);
    color: black;
    padding: 2px;
    position: relative;
    bottom: 1px;
}