<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BoardLock</title>
    <link rel="stylesheet" href="/static/css/landing-page.css">
</head>


<body>

<div class="center">
    <div class="text-container">
        <p style="font-size: 30px; font-weight: bold">Welcome to BoardLock!</p>
        <p style="font-size: 20px">A secure online password storage solution.</p>
        <p style="font-size: 15px">(Please do not store real login information, this is a personal project using personal servers.)</p>
    </div>
    <div class="img-container"><img alt="background" src="/static/images/landing-page.png"></div>
    <div class="form-container">
        <form action="/" method="post">
            <label for="username"><b>Username</b></label>
            <input id="username" type="text" required>
            <label for="password"><b>Root Password</b></label>
            <input id="password" type="password" required>
            <button type="submit">Login</button>
        </form>
	<! href="http://127.0.0.1:5000/signup" class="button" style="text-decoration: none" Create New Account >
        <a href="http://3.138.74.49:5000/signup" class="button" style="text-decoration: none">Create New Account</a>
    </div>
</div>
</body>

</html>
