<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardLock - Password Manager</title>
    <link rel="stylesheet" href="/static/css/manager.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<p id="username">{{username}}</p>
<p id="data">{{data}}</p>
<h1>BoardLock Password Manager</h1>
<div class="ui">
    <div class="top-bar">
        <div>
            <button id="create" class="long" style="text-decoration: none">Create New Entry</button>
            <button id="edit" style="text-decoration: none">Edit</button>
            <button id="delete" style="text-decoration: none">Delete</button>
        </div>
        <div class="searchbar">
            <label for="search">Search Database: </label>
            <input id="search" type="search">
        </div>
        <div style="float: right">
            <button id="export" class="long" style="text-decoration: none">Export Database</button>
            <button id="change_psw" class="long" style="text-decoration: none">Change Root Password</button>
            <a id="logout" class="button" style="text-decoration: none">Logout</a>
        </div>
    </div>
    <table id="data_table">
        <colgroup>
            <col class="wide" />
            <col class="wide" />
            <col class="wide" />
            <col class="narrow" />
            <col class="narrow" />
        </colgroup>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>URL</th>
            <th>Category</th>
            <th>Time Created</th>
        </tr>
    </table>
</div>
<script>
    document.getElementById('logout').href = '{{link}}/logout';
    let username = document.getElementById('username').innerHTML; // pass variables to manager.js
    let data = document.getElementById('data').innerHTML;
</script>
<script src="/static/js/manager.js"></script>
</body>
</html>