<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardLock - Password Manager</title>
    <link rel="stylesheet" href="/static/css/manager.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
            $("#password-generator").load("{{link}}/static/html/password-generator.html");
        });
    </script>
</head>
<body>
<p id="username">{{username}}</p>
<p id="data">{{data}}</p>
<h1>BoardLock Password Manager</h1>
<h1 style="position: absolute; right: 20px; top: 0">Welcome, {{username}}</h1>
<div class="ui" id="ui">
    <div class="top-bar">
        <div>
            <button id="create" onclick="create()">Create New Entry</button>
            <button id="edit" onclick="edit()">Edit</button>
            <button id="delete">Delete</button>
        </div>
        <div class="searchbar">
            <label for="search">Search Database: </label>
            <input id="search" type="text" readonly="readonly" onfocus="this.removeAttribute('readonly');">
        </div>
        <div style="float: right">
            <button id="export">Export Database</button>
            <button id="change_psw">Change Root Password</button>
            <a id="logout" class="button" style="text-decoration: none;">Logout</a>
        </div>
    </div>
    <table id="data_table">
        <colgroup>
            <col class="narrow" />
            <col class="wide" />
            <col class="wide" />
            <col class="wide" />
            <col class="narrow" />
            <col class="medium" />
        </colgroup>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Password</th>
            <th>URL</th>
            <th>Category</th>
            <th>Time Created</th>
        </tr>
    </table>
</div>
<div id="editor_and_passgen" class="hide">
    <h1 id="action"></h1>
    <form id="entry_form" method="POST">
        <input id="change_type" style="display: none" name="change_type" value="">
        <div class="field">
            <label for="title_field">Title:</label>
            <input id="title_field" type="text">
        </div>
        <div class="field">
            <label for="username_field">Username:</label>
            <input id="username_field" type="text" required>
        </div>
        <div class="field">
            <label for="password_field">Password:</label>
            <input id="password_field" type="text">
            <button class="show" type="button" onclick="show_password(document.getElementById('password_field'), this)">Show</button>
        </div>
        <div class="field">
            <label for="url_field">URL:</label>
            <input id="url_field" type="text">
        </div>
        <div class="field" style="text-align: center">
            <label for="category_field">Category:</label>
            <select id="category_field">
                <option selected="selected"></option>
                <option>Work</option>
                <option>Email</option>
                <option>Finance</option>
                <option>Health</option>
                <option>Social Media</option>
                <option>Shopping</option>
                <option>Gaming</option>
                <option>Entertainment</option>
                <option>Other</option>
            </select>
        </div>
    </form>
    <div class="buttons">
        <button id="cancel" onclick="close_editor()">Cancel</button>
        <button style="background-color: transparent"></button>
        <button id="save" type="submit" form="entry_form" onsubmit="save_data()" style="padding: 10px 18px">Save</button>
    </div>
    <div id="password-generator"></div>
</div>
</body>
<script>
    $('input').attr('autocomplete', 'new-password');
</script>
<script>
    document.getElementById('logout').href = '{{link}}/logout';
    let username = document.getElementById('username').innerHTML; // pass variables to manager.js
    let data = document.getElementById('data').innerHTML;
    document.getElementById('password_field').type = "password";
</script>
<script src="/static/js/manager.js"></script>
</html>

<! https://stackoverflow.com/questions/60689757/how-to-disable-chrome-autofill-after-2020 >