<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardLock - Signup</title>
    <link rel="stylesheet" href="/static/css/signup-page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
            $("#password-generator").load("http://3.138.74.49:5000/static/html/password-generator.html");
            //$("#password-generator").load("http://127.0.0.1:5000/static/html/password-generator.html");
        });
    </script>
</head>

<body>
<div class="signup">
    <div class="top-container">
        <div class="form-container">
            <form id="credentials" method="post">
                <div>
                    <label for="username">Username: </label>
                    <input id="username" type="text" required>
                </div>
                <div>
                    <label for="psw">Root Password: </label>
                    <input id="psw" type="password" required>
                </div>
                <div>
                    <label for="confirm-psw">Confirm Password: </label>
                    <input id="confirm-psw" type="password" required>
                </div>
            </form>
        </div>
        <button class="show-password" onclick="show(document.getElementById('psw'), this)">Show</button>
    </div>
    <div class="submit">
        <p>Save your root password in a secure location.</p>
        <p>Without it, your data will be unrecoverable.</p>
        <button type="submit" form="credentials" value="Submit">Create New Account</button>
    </div>
    <div id="password-generator" class="random-container"></div>
</div>
</body>
</html>
