<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardLock - Signup</title>
    <link rel="stylesheet" href="/static/css/signup-page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
            $("#password-generator").load("http://127.0.0.1:5000/static/html/password-generator.html");
        });
    </script>
</head>
<body>
<div class="wrapper">
    <div id="password-generator"></div>
</div>
</body>
</html>